@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search clearfix">
                <form>
                    <div class="select_list">
                        <select class="select_op">
                            <option value="All">All</option>
                            <option value="Product Name">Product Name</option>
                            <option value="Product Classify">Product Classify</option>
                        </select>
                    </div>
                    <div class="search_btn">
                        <input type="submit" value="Search" class="inner_btn"/>
                    </div>
                    <div class="search_input">
                        <input type="text"/>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="position">Home > Products  >  Acidic</div>
            <div class="content clearfix" style="padding:0 30px;width:920px;padding-bottom:80px;">
                <dl class="sid_menu">
                    <dt>Office</dt>
                    <dd><a href="">United Kingdom</a></dd>
                    <dd><a href="">China</a></dd>
                </dl>
                <div class="right_bar_map">
                    <div  class="map">
                        <img src="/Images/img/map.jpg">
                    </div>
                    <div class="location_map">
                        <i class="map_icon"></i>
                        <b>Contect Us : China</b>
                        <p><em>Tel :</em> 888888  66666</p>
                        <p><em>Fax :</em> 888888 88888  /  777777</p>
                        <p><em>Address :  </em> Kendall Square, Suite B2304 Cambridge, MA 02139-1517</p>
                        <p><em>Email : </em> colcom@365.com.cn</p>
                    </div>
                </div>
            </div>
