<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link type="text/css" rel="stylesheet" href="/Content/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/index.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/documents.css" />
</head>
<body>
    <div class="pagebody">
        <div class="main_page clearfix">
            <div class="top clearfix">
                <a href="" class="logo"></a>
                <ul class="nav">
                    <li><a href="/Management/ContactUs">Contect us</a></li>
                    <li><a href="/Document/Documents">Documents</a></li>
                    <li><a href="/News/News">News</a></li>
                    <li><a href="/Product/Products">Products</a></li>
                    <li><a href="/Home/Index">Home</a></li>
                </ul>
            </div>
            
            @RenderBody()
        </div>
    </div>
    <div class="footer clearfix">
        <b><a href="">About us</a>   |   <a href="">Service</a>   |   <a href="">Distributors</a>   |   <a href="">Ordering</a>   |   <a href="">Support</a></b>
        <b>copyright © 2013-2016 Bioworld Technology, Inc. All rights reserved</b>
    </div>
</body>