@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search clearfix">
                <form>
                    <div class="select_list">
                        <select class="select_op">
                            <option value="All">All</option>
                            <option value="Product Name">Product Name</option>
                            <option value="Product Classify">Product Classify</option>
                        </select>
                    </div>
                    <div class="search_btn">
                        <input type="submit" value="Search" class="inner_btn"/>
                    </div>
                    <div class="search_input">
                        <input type="text"/>
                    </div>
                </form>
            </div>
            
<div class="clear"></div>
            
<div class="position">Home > Products  >  Acidic</div>
            
<div class="content clearfix" style="padding:20px;width:940px;padding-bottom:80px;">
                <div class="pro_pic clearfix">
                    <div class="pic_one"><img src="/Images/img/img1.jpg"></div>
                    <div class="pic_one"><img src="/Images/img/img1.jpg"></div>
                    <div class="pic_one" style="margin-right:0"><img src="/Images/img/img1.jpg"></div>
                </div>
                <dl class="sid_menu">
                    <dt>Related</dt>
                    <dd><a href="">conventional method </a></dd>
                    <dd><a href="">conventional met </a></dd>
                    <dd><a href="">conventional method</a> </dd>
                    <dd><a href="">conventional me</a></dd>
                    <dd><a href="">conventional method </a></dd>
                </dl>
                <div  class="main_body clearfix">
                    <p>Acidic Sphingomyelinase Assay Kit</p>
                    <b>RabMAb primary antibodies are generated using a unique and proprietary method of monoclonal antibody development from rabbits rather than the conventional method of starting with mice or rats.
                    The basic principle for making a RabMAb primary antibody is the same as for mouse monoclonals. Proprietary rabbit fusion partner cells can fuse to rabbit B-cells to create the Rabbit Hybridoma cells, true rabbit-to-rabbit hybridomas (1)
                    </b>
                    <b>RabMAb primary antibodies are generated using a unique and proprietary method of monoclonal antibody development from rabbits rather than the conventional method of starting with mice or rats.
                    The basic principle for making a RabMAb primary antibody is the same as for mouse monoclonals. Proprietary rabbit fusion partner cells can fuse to rabbit B-cells to create the Rabbit Hybridoma cells, true rabbit-to-rabbit hybridomas (1)
                    </b>
                    <b>RabMAb primary antibodies are generated using a unique and proprietary method of monoclonal antibody development from rabbits rather than the conventional method of starting with mice or rats.
                    The basic principle for making a RabMAb primary antibody is the same as for mouse monoclonals. Proprietary rabbit fusion partner cells can fuse to rabbit B-cells to create the Rabbit Hybridoma cells, true rabbit-to-rabbit hybridomas (1)
                    </b>
                </div>
            </div>
