@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner products"></div>
<div class="search clearfix">
                <form>
                    <div class="select_list">
                        <select class="select_op">
                            <option value="All">All</option>
                            <option value="Product Name">Product Name</option>
                            <option value="Product Classify">Product Classify</option>
                        </select>
                    </div>
                    <div class="search_btn">
                        <input type="submit" value="Search" class="inner_btn"/>
                    </div>
                    <div class="search_input">
                        <input type="text"/>
                    </div>
                </form>
            </div>

<div class="clear"></div>

<div class="position">Home > Products </div>

<div class="content clearfix" style="padding:0;width:980px;padding-bottom:40px;">
                <div class="products_one clearfix">
                    <div class="product_img"><img src="/Images/img/products_list.jpg"></div>
                    <div class="product_describe">
                        <p>Acidic Sphingomyelinase Assay Kit</p>
                        <b>Clustered Mutagenesis and Complex Chromosomal Rearrangements Clustered Mutagenesis and Complex 
                           Chromosomal Rearrangements 
                        </b>
                        <div class="artical_b">
                         <a href=""> Artical</a>  
                        </div>
                    </div>
                </div>
                <div class="products_one clearfix">
                    <div class="product_img"><img src="/Images/img/products_list.jpg"></div>
                    <div class="product_describe">
                        <p>Acidic Sphingomyelinase Assay Kit</p>
                        <b>Clustered Mutagenesis and Complex Chromosomal Rearrangements Clustered Mutagenesis and Complex 
                           Chromosomal Rearrangements 
                        </b>
                        <div class="artical_b">
                         <a href=""> Artical</a>  
                        </div>
                    </div>
                </div>
                <div class="products_one clearfix">
                    <div class="product_img"><img src="/Images/img/products_list.jpg"></div>
                    <div class="product_describe">
                        <p>Acidic Sphingomyelinase Assay Kit</p>
                        <b>Clustered Mutagenesis and Complex Chromosomal Rearrangements Clustered Mutagenesis and Complex 
                           Chromosomal Rearrangements 
                        </b>
                        <div class="artical_b">
                         <a href=""> Artical</a>  
                        </div>
                    </div>
                </div>
                <div class="products_one clearfix">
                    <div class="product_img"><img src="/Images/img/products_list.jpg"></div>
                    <div class="product_describe">
                        <p>Acidic Sphingomyelinase Assay Kit</p>
                        <b>Clustered Mutagenesis and Complex Chromosomal Rearrangements Clustered Mutagenesis and Complex 
                           Chromosomal Rearrangements 
                        </b>
                        <div class="artical_b">
                         <a href=""> Artical</a>  
                        </div>
                    </div>
                </div>
                <div class="page_list clearfix" style="margin-top:20px;">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">Next >></a></li>
                    </ul>
                </div>
            </div>
