@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link type="text/css" rel="stylesheet" href="/Content/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="Content/css/index.css" />
</head>
<body>
    <div class="pagebody">
        <div class="main_page clearfix">
            <div class="top clearfix">
                <a href="" class="logo"></a>
                <ul class="nav">
                    <li>Contect us</li>
                    <li>Documents</li>
                    <li>News</li>
                    <li>Products</li>
                    <li>Home</li>
                </ul>
            </div>
            <div class="banner">
                <div class="introduce_word">
                    <p>Nanotech For Biological Application</p>
                    <b>Nanotech For Biological Application Biological Application</b>
                    <button class="banner_btn">More Details</button>
                </div>
            </div>
            <div class="search clearfix">
                <form>
                    <div class="select_list">
                        <select class="select_op">
                            <option value="All">All</option>
                            <option value="Product Name">Product Name</option>
                            <option value="Product Classify">Product Classify</option>
                        </select>
                    </div>
                    <div class="search_btn">
                        <input type="submit" value="Search" class="inner_btn"/>
                    </div>
                    <div class="search_input">
                        <input type="text"/>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="content clearfix">
                <div class="news">
                    <div class="news_head clearfix">
                       <i class="logo_icon"></i> 
                       <b>News</b>
                       <a href="">More >></a>
                    </div>
                    <ul>
                        <li class="news_content clearfix">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                        <li class="news_content clearfix">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                        <li class="news_content clearfix" style="border-bottom:0">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                        <li class="news_content clearfix">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                        <li class="news_content clearfix" style="border-bottom:0">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                    </ul>
                </div>
                <div class="products">
                    <div class="news_head product clearfix">
                       <i class="logo_icon"></i> 
                       <b>Products</b>
                       <a href="">Enter >></a>
                    </div>
                    <ul class="products_list">
                        <li>
                            <a href=""><img src="/Images/img/img1.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li style="margin:0 20px">
                            <a href=""><img src="/Images/img/img2.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li>
                            <a href=""><img src="/Images/img/img3.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li>
                            <a href=""><img src="/Images/img/img1.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li style="margin:0 20px">
                            <a href=""><img src="/Images/img/img2.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li>
                            <a href=""><img src="/Images/img/img3.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <div class="footer clearfix">
        <b><a href="">About us</a>   |   <a href="">Service</a>   |   <a href="">Distributors</a>   |   <a href="">Ordering</a>   |   <a href="">Support</a></b>
        <b>copyright © 2013-2016 Bioworld Technology, Inc. All rights reserved</b>
    </div>
</body>