@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
                <div class="introduce_word">
                    <p>Nanotech For Biological Application</p>
                    <b>Nanotech For Biological Application Biological Application</b>
                    <button class="banner_btn">More Details</button>
                </div>
            </div>

<div class="search clearfix">
                <form>
                    <div class="select_list">
                        <select class="select_op">
                            <option value="All">All</option>
                            <option value="Product Name">Product Name</option>
                            <option value="Product Classify">Product Classify</option>
                        </select>
                    </div>
                    <div class="search_btn">
                        <input type="submit" value="Search" class="inner_btn"/>
                    </div>
                    <div class="search_input">
                        <input type="text"/>
                    </div>
                </form>
            </div>

<div class="clear"></div>

<div class="content clearfix">
                <div class="news">
                    <div class="news_head clearfix">
                       <i class="logo_icon"></i> 
                       <b>News</b>
                       <a href="">More >></a>
                    </div>
                    <ul>
                        <li class="news_content clearfix">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                        <li class="news_content clearfix">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                        <li class="news_content clearfix" style="border-bottom:0">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                        <li class="news_content clearfix">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                        <li class="news_content clearfix" style="border-bottom:0">
                            <i class="news_dot"></i>
                            <a href="">Orders outside the United States </a>
                            <p>Please contact your local distribut for ordering information. </p>
                            <em>2014.02.06</em>
                        </li>
                    </ul>
                </div>
                <div class="products">
                    <div class="news_head product clearfix">
                       <i class="logo_icon"></i> 
                       <b>Products</b>
                       <a href="">Enter >></a>
                    </div>
                    <ul class="products_list">
                        <li>
                            <a href=""><img src="/Images/img/img1.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li style="margin:0 20px">
                            <a href=""><img src="/Images/img/img2.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li>
                            <a href=""><img src="/Images/img/img3.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li>
                            <a href=""><img src="/Images/img/img1.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li style="margin:0 20px">
                            <a href=""><img src="/Images/img/img2.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                        <li>
                            <a href=""><img src="/Images/img/img3.jpg"></a>
                            <a href="" class="product_link">Showcase of recent projects </a>
                            <b>Showcase of some receojects Shwcase of soecent projects  </b>
                        </li>
                    </ul>
                </div>
            </div>
