@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner inner"></div>
            <div class="search clearfix">
                <form>
                    <div class="select_list">
                        <select class="select_op">
                            <option value="All">All</option>
                            <option value="Product Name">Product Name</option>
                            <option value="Product Classify">Product Classify</option>
                        </select>
                    </div>
                    <div class="search_btn">
                        <input type="submit" value="Search" class="inner_btn"/>
                    </div>
                    <div class="search_input">
                        <input type="text"/>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="position">Home > News >  Acidic Sphingomyelinase Assay Kit</div>
            <div class="content clearfix" style="padding:30px 40px;width:900px">
                <div class="article">
                    <p>Acidic Sphingomyelinase Assay Kit</p>
                    <b>Hybridomas are then screened to select for clones with specific and sensitive antigen recognition and the antibodies are characterized using a variety of methods (    view the process of RabMAb creation below).
                        Unlike traditional murine antibodies, antibodies generated with RabMAb technology provide better antigen recognition (2). The reason for this is that the rabbit immune system generates antibody diversity and 
                    </b>
                    <b>Hybridomas are then screened to select for clones with specific and sensitive antigen recognition and the antibodies are characterized using a variety of methods (    view the process of RabMAb creation below).
                        Unlike traditional murine antibodies, antibodies generated with RabMAb technology provide better antigen recognition (2). The reason for this is that the rabbit immune system generates antibody diversity and 
                    </b>
                    <b>Hybridomas are then screened to select for clones with specific and sensitive antigen recognition and the antibodies are characterized using a variety of methods (    view the process of RabMAb creation below).
                        Unlike traditional murine antibodies, antibodies generated with RabMAb technology provide better antigen recognition (2). The reason for this is that the rabbit immune system generates antibody diversity and 
                    </b>
                </div>
                <div class="hot_article">
                    <p>Recommended document</p>
                    <b><a href="">Signaling conferences</a></b>
                    <b><a href="">Signaling conferences</a></b>
                    <b><a href="">Signaling conferences</a></b>
                    <b><a href="">Signaling conferences</a></b>
                    <b><a href="">Signaling conferences</a></b>
                </div>
            
            </div>
