@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner inner"></div>
            <div class="search clearfix">
                <form>
                    <div class="select_list">
                        <select class="select_op">
                            <option value="All">All</option>
                            <option value="Product Name">Product Name</option>
                            <option value="Product Classify">Product Classify</option>
                        </select>
                    </div>
                    <div class="search_btn">
                        <input type="submit" value="Search" class="inner_btn"/>
                    </div>
                    <div class="search_input">
                        <input type="text"/>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="position">Home > News >  Acidic Sphingomyelinase Assay Kit</div>
            <div class="content clearfix" style="padding-bottom:50px;">
                <div class="sid_bar">
                    <dl class="sid_bar_list">
                        <dt>News by research area:</dt>
                        <dd><a href="">Signaling conferences</a></dd>
                        <dd><a href="">Signaling conferences</a></dd>
                        <dd><a href="">Signaling conferences</a></dd>
                        <dd><a href="">Signaling conferences</a></dd>
                    </dl>
                </div>
                <div class="right_bar ">
                    <div class="list_one clearfix">
                        <div class="date">May 08,2013</div>
                        <div class="news_detial">
                            <p><a href="">Acidic Sphingomyelinase Assay Kit</a></p>
                            <b>Clustered Mutagenesis and Complex Chromosomal Rearrangements Clustered Mutagenesis and Complex 
                               Chromosomal Rearrangements 
                           </b>
                        </div>
                        <div class="see_all"><a href="">All >></a></div>
                    </div>
                    <div class="list_one clearfix">
                        <div class="date">May 08,2013</div>
                        <div class="news_detial">
                            <p><a href="">Acidic Sphingomyelinase Assay Kit</a></p>
                            <b>Clustered Mutagenesis and Complex Chromosomal Rearrangements Clustered Mutagenesis and Complex 
                               Chromosomal Rearrangements 
                           </b>
                        </div>
                        <div class="see_all"><a href="">All >></a></div>
                    </div>
                    <div class="list_one clearfix">
                        <div class="date">May 08,2013</div>
                        <div class="news_detial">
                            <p><a href="">Acidic Sphingomyelinase Assay Kit</a></p>
                            <b>Clustered Mutagenesis and Complex Chromosomal Rearrangements Clustered Mutagenesis and Complex 
                               Chromosomal Rearrangements 
                           </b>
                        </div>
                        <div class="see_all"><a href="">All >></a></div>
                    </div>
                    <div class="list_one clearfix">
                        <div class="date">May 08,2013</div>
                        <div class="news_detial">
                            <p><a href="">Acidic Sphingomyelinase Assay Kit</a></p>
                            <b>Clustered Mutagenesis and Complex Chromosomal Rearrangements Clustered Mutagenesis and Complex 
                               Chromosomal Rearrangements 
                           </b>
                        </div>
                        <div class="see_all"><a href="">All >></a></div>
                    </div>
                </div>
                <div class="page_list clearfix">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">Next >></a></li>
                    </ul>
                </div>
            </div>
